/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13/02/2018, 1:33:32 PM
    Author     : Juan David
*/
.ui-accordion .ui-accordion-header .ui-icon { 
    display: block;    
}

.ui-widget, .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
    font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
    font-size: 14px;
}

.searchBox
{
    width: 600px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.resultBox
{
    width: 95%;
}
.infoText
{
    width: 75%;
    background-color: #008080;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
    color: white;
    text-align: center;
    border-radius: 3px;
}
.infoTextBig
{
    width: 95%;
    background-color: #008080;
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 5px;
    margin-left: 3px;
    font-weight: bold;
    color: white;
    text-align: center;
    border-radius: 3px;
}
.hazardInfo
{
    width: 75%;
    margin-bottom: 15px;
}
.hazardInfoFieldName
{
    width: 15%;
    font-size: 14px;
    font-weight: bold;
    color: #005354;
}
.manyResultBox
{
    width: 80%;
    margin-top: 5px;
    margin-bottom: 5px;
}
.linkActions {
    color: #008080 !important; 
    text-decoration: underline !important;
}

.idColumn
{
    width: 12%;
    text-align: center;
}

.idHugeColumn
{
    width: 20%;
    text-align: center;
}

.actionsColumn
{
    width: 10%;
    text-align: center;
}
.actionsBigColumn
{
    width: 12%;
    text-align: center;
}

.actionsHugeColumn
{
    width: 20%;
    text-align: center;
}

.addManyResultBox
{
    margin-top: 10px;
}
.idAutocompleteColumn
{
    width: 10%;     
}
.linkDiv
{
    margin-top: 5px;
    margin-bottom: 5px;
}
.emailField
{
    width: 350px;
}
.systemLicense
{
    width: 500px;
}
.licenseFooter
{  
    flex-shrink: 0; 
    text-align: center;
}
pp 
{
    font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
    font-size:  14px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #333333;
}
.tableOne
{
    width: 75%;
    text-align: center;
}
.tableTwo
{
    width: 30%;
    text-align: center;
}
.tableThree
{
    width: 80%;
    text-align: center;
}
.dropDown
{
    width:150px;
}
.specialColumn
{
    width:200px;
}
.editUser
{
    display: none;
}
.controlWidth
{
    width:250px;
}
.treeWidth
{
    width:600px;
}
.controlCancelBtn{
    margin-left: 5px;
}
/* Charling's stuff */
.tableSeparator
{
    position:relative; 
    left:-50%; 
    border: 0; 
    border-bottom: 1px solid rgb(238, 238, 238);
}

.rotateText 
{
    writing-mode: vertical-lr;
    transform: rotate(-180deg);
}
.truncate 
{
    max-width: 120px;
    width: 120px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.truncate > span:nth-child(2) 
{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}

.instructionText 
{
    color: #036fab;
}

.instructionHeader
{
    color: #045491;
}
.hazardMap 
{
    width: 100%; 
    height: 480px; 
    border: 0px;
}

#hazardsForm\:hazardTable
{
    font-size: 10px;
}

#hazardsForm\:hazardTable\:globalFilter
{
    width: 240px;
}

#hazardsForm\:hazardTable\:columnToggle
{
    float: right;
}

#hazardsForm\:hazardTable\:hazardCount
{
    float: left;
}

.permissionsTable
{
    float: left;
}
.usersTable
{
    width: auto;
}
.filteredTable
{
    width: 40%;
}

.filteredBigTable
{
    width: 1000px;
}

.filteredColumn
{
    width: 15%;
    text-align: center; 
}

.centerColumn
{
    text-align: center; 
}

.accordionWidth
{
    width: 60%; 
}
html 
{
    height: 100%;
}
body 
{
    display: flex;
    flex-direction: column;
    height: 98vh;
}
.center_content 
{
    flex: 1 0 auto;
    padding: 5px;
}
.ui-widget-header
{
    border:1px solid #008080;
    color: #ffffff;
    background:#008080;
}
a:link, a:visited 
{
    color: #333333;
}
a:link:hover, a:visited:hover  
{
    color: #333333;
} 
.pagePath
{
    background-color:#008080;
    font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
    font-size:  14px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #ffffff;
    width: fit-content;
}

.pagePathNew {
    font-size:  14px;
    margin-left: 0px;
    padding-bottom: 10px;
}

.pagePath1
{
    background-color:#0084C6;
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    font-size:  13px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #ffffff;
    width: fit-content;
}

.hazardsFieldset{
    width: 70%;
}

.searchGridRight {
    border-style: hidden !important; /* or none */
    width: 50%;
}

.searchGridLeft {
    border-style: hidden !important; /* or none */
    width: 50%;
}

.searchButtonsGrid {
    padding: 2px;
    padding-bottom: 10px;
}

.actionButtonsDiv{
    padding-top: 10px;
    padding-bottom: 10px;
}

.actionButtonsDiv > * {
    margin-right: 5px;
}

.searchFields{
    vertical-align: top;
}

.searchExplanation{
    vertical-align: top;
    padding-left: 10px;   
}

.tableList{
    width: 1000px;
}

.tableActions{
    width: 500px;
    vertical-align: top;
}

.queryDescr  {
    width: 700px;
}

.queryDescr h3 {
    color: #000000;
    margin: 0;
    padding-bottom: 3px;
}

.queryDescr h4 {
    padding-left: 10px; 
    margin: 0;
    padding-bottom: 1px; 
    padding-top: 1px;
}

.queryDescr h4 span {
    color: #3366ff;
    padding-bottom: 1px; 
    padding-top: 1px;
}

.queryDescr_field {
    padding-left: 20px; 
    margin: 0;
    padding-bottom: 1px; 
    padding-top: 1px;
}

.queryDescr_and {
    color: #ff0000; 
    margin: 0;
    padding-bottom: 1px; 
    padding-top: 1px;
    font-size: 12px;
    font-weight: bold;
}
.ui-diagram-hazard {
    max-width:20%; 
    height:auto;     
    padding:1em;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    border-radius: 4px;
    background-color: #0095a8;
    color: #ffffff;
}

.ui-diagram-cause {
    max-width:10%; 
    height:auto;     
    padding:1em;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    border-radius: 4px;
    background-color: #47b9c7;
    color: #ffffff;
}

.ui-diagram-consequence {
    max-width:10%; 
    height:auto;     
    padding:1em;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    border-radius: 4px;
    background-color: #4d858d;
    color: #ffffff;
}

.ui-diagram-prevent {
    max-width:5%; 
    height:auto;     
    padding:1em;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    border-radius: 4px;
    background-color: #f2bb47;
    color: #000000;
    z-level: 1;
}

.ui-diagram-mitigate {
    max-width:5%; 
    height:auto;     
    padding:1em;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    border-radius: 4px;
    background-color: #af1e64;
    color: #000000;
    z-level: 1;
}

.ui-menu.ui-widget li > .ui-menuitem-link.ui-state-hover {

    color:#ffffff;
    text-decoration:none;
    background-color:#008080;
    background-color:#008080;
    background-position:0px;
    background-image:-moz-linear-gradient(top, #008080, #0077b3);
    background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#008080), to(#008080));
    background-image:-webkit-linear-gradient(top, #008080, #008080);
    background-image:-o-linear-gradient(top, #008080, #008080);
    background-image:linear-gradient(to bottom, #008080, #008080);
    background-repeat:repeat-x;
    filter:progid:dximagetransform.microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);

}

.navigationPath {
    color: #008080;
}

.addInfoPanel{
    width: 700px;
}

.addInfoBigPanel{
    width: 600px;
}

.addInfoPanelRight{
    width: 500px;
}

.addInfoBigPanelRight{
    width: 600px;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    background-color: #008080;
    background-image: linear-gradient(to bottom, #008080, #008080);
}

.viewTableContent{
    width: 1200px;
}

.viewBigTableContent{
    width: 1700px;
}

.addSelectOne {
     width: 82%;
}

.tableColumn10 {
    width: 10%;
}

.tableColumn10ct {
    width: 10%;
    text-align: center;
}

.tableColumn15 {
   width: 15%; 
}

.tableColumn15ct {
    width: 15%;
    text-align: center;
}

.tableColumn20 {
    width: 20%;
}

.tableColumn30 {
    width: 30%;
}

.tableColumn40 {
    width: 40%;
}

.tableColumn50 {
    width: 50%;
}

.tableColumn60 {
    width: 60%;
}

.tableColumn70 {
    width: 70%;
}

.tableColumn10p {
    width: 10px;
}

.tableColumn50p {
    width: 50px;
}

.tableColumn80p {
    width: 80px;
}

.tableColumn100p {
    width: 100px;
}

.tableColumn150p {
    width: 150px;
}

.tableColumn200p {
    width: 200px;
}

.tableColumn200p {
    width: 250px;
}

.tableColumn300p {
    width: 300px;
}

.inputField200px{
    width: 200px;
}