/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13/02/2018, 1:33:32 PM
    Author     : Juan David
*/
.ui-accordion .ui-accordion-header .ui-icon { 
    display: block;    
}

.ui-widget, .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
    font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
}

.searchBox
{
    width: 600px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.resultBox
{
    width: 95%;
}
.infoText
{
    width: 260px;
    background-color: #053677;
    font-size: 14px;
    margin-top: 35px;
    margin-bottom: 5px;
    margin-left: 10px;
    font-weight: bold;
    color: white;
    text-align: center;
    border-radius: 3px;
}
.infoTextBig
{
    width: 300px;
    background-color: #053677;
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 5px;
    margin-left: 5px;
    font-weight: bold;
    color: white;
    text-align: center;
    border-radius: 3px;
}
.hazardInfo
{
    width: 75%;
}
.hazardInfoFieldName
{
    width: 15%;
    font-size: 14px;
    font-weight: bold;
    color: #053677;
}
.manyResultBox
{
    width: 80%;
    margin-top: 5px;
    margin-bottom: 5px;
}
.idColumn
{
    width: 12%;
    text-align: center;
}
.actionsColumn
{
    width: 10%;
    text-align: center;
}
.actionsBigColumn
{
    width: 12%;
    text-align: center;
}
.addManyResultBox
{
    margin-top: 10px;
}
.idAutocompleteColumn
{
    width: 10%;     
}
.linkDiv
{
    margin-top: 5px;
    margin-bottom: 5px;
}
.emailField
{
    width: 350px;
}
.systemLicense
{
    width: 500px;
}
.licenseFooter
{  
    flex-shrink: 0; 
    padding: 15px;
    text-align: center;
}
pp 
{
    font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
    font-size:  14px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #333333;
}
.tableOne
{
    width: 75%;
    text-align: center;
}
.tableTwo
{
    width: 50%;
    text-align: center;
}
.dropDown
{
    width:150px;
}
.specialColumn
{
    width:200px;
}
.editUser
{
    display: none;
}
.controlWidth
{
    width:250px;
}
.treeWidth
{
    width:600px;
}
.controlCancelBtn{
    margin-left: 5px;
}
/* Charling's stuff */
.tableSeparator
{
    position:relative; 
    left:-50%; 
    border: 0; 
    border-bottom: 1px solid rgb(238, 238, 238);
}

.rotateText 
{
    writing-mode: vertical-lr;
    transform: rotate(-180deg);
}
.truncate 
{
    max-width: 120px;
    width: 120px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.truncate > span:nth-child(2) 
{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}

.instructionText 
{
    color: #036fab;
}

.instructionHeader
{
    color: #045491;
}
.ui-datatable-footer 
{
    min-height: 1em;
}

#hazardsForm\:hazardTable
{
    font-size: 10px;
}

#hazardsForm\:hazardTable\:globalFilter
{
    width: 240px;
}

#hazardsForm\:hazardTable\:columnToggle
{
    float: right;
}

#hazardsForm\:hazardTable\:hazardCount
{
    float: left;
}

.permissionsTable
{
    float: left;
}
.usersTable
{
    width: auto;
}
.filteredTable
{
    width: 60%;
}

.filteredColumn
{
    width: 15%;
    text-align: center; 
}

.centerColumn
{
    text-align: center; 
}

.accordionWidth
{
    width: 60%; 
}
html 
{
    height: 100%;
}
body 
{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.center_content 
{
    flex: 1 0 auto;
    padding: 15px;
}
.ui-widget-header
{
    border:1px solid #008080;
    color: #ffffff;
    background:#008080;
}
a:link, a:visited 
{
    color: #333333;
}
a:link:hover, a:visited:hover  
{
    color: #333333;
} 
.pagePath
{
    background-color:#008080;
    font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
    font-size:  14px;
    font-weight: bold;
    margin: 0px;
    padding: 2px;
    color: #ffffff;
    width: fit-content;
    border-radius: 4px;
}

.ui-dialog-title {
    color: black;
    border-radius: 4px;
    padding: 2px;
}

.ui-content {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.ui-dialog {
    height: 720px;
    width: 960px;
}

.ui-diagram {
    flex: 1 0 auto;
}

.pagePath1
{
    background-color:#0084C6;
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    font-size:  13px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #ffffff;
    width: fit-content;
}

.pagePath1
{
    background-color:#0084C6;
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    font-size:  13px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #ffffff;
    width: fit-content;
}

.hazardsFieldset{
    width: 70%;
}

.searchGridRight {
    border-style: hidden !important; /* or none */
    width: 40%;
}

.searchGridLeft {
    border-style: hidden !important; /* or none */
    width: 60%;
}

.searchButtonsGrid {
    padding: 2px;
    padding-bottom: 10px;
}

.searchFields{
    vertical-align: top;
}

.searchExplanation{
    vertical-align: top;
    padding-left: 10px;   
}

.queryDescr  {
    width: 700px;
}

.queryDescr h3 {
    color: #000000;
    margin: 0;
    padding-bottom: 3px;
}

.queryDescr h4 {
    padding-left: 10px; 
    margin: 0;
    padding-bottom: 1px; 
    padding-top: 1px;
}

.queryDescr h4 span {
    color: #3366ff;
    padding-bottom: 1px; 
    padding-top: 1px;
}

.queryDescr_field {
    padding-left: 20px; 
    margin: 0;
    padding-bottom: 1px; 
    padding-top: 1px;
}

.queryDescr_and {
    color: #ff0000; 
    margin: 0;
    padding-bottom: 1px; 
    padding-top: 1px;
    font-size: 12px;
    font-weight: bold;
}
.ui-diagram-hazard {
    width:180px; 
    min-height:4em;
    padding:1em;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 4px;
    border: #e26b2a 4px solid;
    color: #000000;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 100%), repeating-linear-gradient(
        45deg,
        #e26b2a,
        #e26b2a 4px,
        #ffffff 4px,
        #ffffff 8px
    );
    background-clip: content-box, padding-box;
}

.ui-diagram-cause {
    width:180px;
    min-height:4em;
    padding:1em;
    text-align: right;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 4px;
    border-right: #f2bb47 8px solid;
}

.ui-diagram-consequence {
    width:180px; 
    min-height:4em;   
    padding:1em;
    text-align: left;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 4px;
    border-left: #d61d3c 8px solid;
}

.ui-diagram-prevent {
    max-width:120px; 
    height:auto;     
    padding:1em;
    text-align: center;
    border-radius: 4px;
    border: #47b9c7 2px solid;
    background: #ffffff;
    color: #ffffff;
}

.ui-diagram-mitigate {
    max-width:120px; 
    height:auto;     
    padding:1em;
    text-align: center;
    border-radius: 4px;
    border: #47b9c7 2px solid;
    background: #ffffff;
    color: #ffffff;
}

.ui-diagram-text {
    position: absolute;
    width: 8em;
    text-align: center;
    color: #000000;
    border-radius: 4px;
    border: solid #47b9c7 2px;
    height: 6em;
    background: #ffffff;
    overflow: hidden;
}

.ui-diagram-text:before {
    position: absolute;
    right: 0;
    bottom: 0;
}

.ui-diagram-text:after {
    content: '';
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background: white;
}

.ui-diagram-text:hover {
    overflow: visible;
    color: #ffffff;
}

.ui-diagram-text:hover .ui-diagram-tooltip {
    visibility: visible;
    opacity: 100;
}

.ui-diagram-text .ui-diagram-tooltip {
    visibility: hidden;
    opacity: 0;
    transition:visibility 0.3s linear,opacity 0.3s linear;
    max-width: auto;
    background-color: #ffffff;
    text-align: center;
 
    margin: 0em;
    color: #000000;
    
    /* Position the tooltip text - see examples below! */
    position: absolute;
    top: 0px;
    left: 0px; 
    z-index: 2;
}

.ui-diagram-recommend-Ado {
    display:flex;
    justify-content: center;
    color: #ffffff;
    background: #6ebe49;
}

.ui-diagram-recommend-Rej {
    display:flex;
    justify-content: center;
    color: #ffffff;
    background: #d61d3c;
}

.ui-diagram-recommend-Ref {
    display:flex;
    justify-content: center;
    color: #000000;
    background: #f2bb47;
}
