/* 
    Created on : 13/02/2018, 1:33:32 PM
    Author     : Juan David
*/

/** 
 * Global Layout
**/

html {
    font-size: 14px;
    font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
    height: 100%;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 98vh;
}
.content {
    flex: 1 0 auto;
    padding: 5px;
}
.ui-content {
    display: flex;
    flex-flow: column;
    height: 100%;
}
footer {  
    flex-shrink: 0; 
    text-align: center;
}
.pagePath {
    font-size:  14px;
    margin-left: 0px;
    padding-bottom: 10px;
}
.navigationPath {
    color: #008080;
}
.tableColumn10 {
    width: 10%;
}
.tableColumn10ct {
    width: 10%;
    text-align: center;
}
.tableColumn15 {
    width: 15%; 
}
.tableColumn15ct {
    width: 15%;
    text-align: center;
}
.tableColumn20 {
    width: 20%;
}
.tableColumn30 {
    width: 30%;
}
.tableColumn40 {
    width: 40%;
}
.tableColumn50 {
    width: 50%;
}
.tableColumn60 {
    width: 60%;
}
.tableColumn70 {
    width: 70%;
}
.tableColumn10p {
    width: 10px;
}
.tableColumn50p {
    width: 50px;
}
.tableColumn80p {
    width: 80px;
}
.tableColumn100p {
    width: 100px;
}
.tableColumn150p {
    width: 150px;
}
.tableColumn200p, .inputField200px {
    width: 200px;
}
.tableColumn200p {
    width: 250px;
}
.tableColumn300p {
    width: 300px;
}
.tableFooter, .tableHeader {
    display: flex; 
    flex-wrap: wrap;
}
.wordContainer >div {
    float: left;
    padding-right: 20px;
}
.tableFooter .left, .tableHeader .left {
    flex-grow: 1; 
    flex-basis: 33%; 
    text-align: left; 
    transform: translateY(20%);
}
.tableFooter .center, .tableHeader .center {
    flex-grow: 1; 
    flex-basis: 33%; 
    text-align: center; 
    transform: translateY(20%);
}
.tableFooter .right, .tableHeader .right {
    flex-grow: 1; 
    flex-basis: 33%; 
    text-align: right;
}
/**
 * Theme Tweaks
**/
.ui-widget, .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
    font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
    font-size: 14px;
}
.ui-tabs .ui-tabs-nav.ui-widget-header li a {
    color: #008080;
}
.ui-datatable-header.ui-widget-header.ui-corner-top {
    border: 1px solid #008080;
}
.ui-tabs.ui-tabs-top .ui-tabs-nav.ui-widget-header li:not(.ui-state-active) {
  background: #EEEEEEEE;
}
.ui-tabs.ui-tabs-top {
    border-bottom: none;
}
.ui-accordion .ui-accordion-header .ui-icon { 
    display: block;
}
.ui-widget-header {
    color: #ffffff;
    background:#008080;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    background-color: #008080;
    background-image: linear-gradient(to bottom, #008080, #008080);
}
.ui-dialog-title {
    color: black;
    border-radius: 4px;
    padding: 2px;
}
.workflow-badge:after {
    content:"!";
    position: absolute;
    height:0.8rem;
    bottom:1.2rem;
    left:1.4rem;
    width:0.8rem;
    text-align: center;
    font-size: 0.7rem;
    border-radius: 50%;
    color: white;
    background-color: rgb(214, 29, 58);
    background-image: -ms-linear-gradient(top, rgb(226, 71, 95), rgb(214, 29, 58));
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgb(226, 71, 95)), to(rgb(214, 29, 58)));
    background-image: -webkit-linear-gradient(top, rgb(226, 71, 95), rgb(214, 29, 58));
    background-image: -o-linear-gradient(top, rgb(226, 71, 95), rgb(214, 29, 58));
    background-image: linear-gradient(top, rgb(226, 71, 95), rgb(214, 29, 58));
    background-image: -moz-linear-gradient(top, rgb(226, 71, 95), rgb(214, 29, 58));
    border: 1px solid rgb(226, 71, 95);
    border-color: rgb(214, 29, 58) rgb(214, 29, 58) rgb(133, 0, 21);
    border-bottom-color: rgb(133, 0, 21);
}
.ui-state-highlight .ui-icon {
    background-image: url(/faces/javax.faces.resource/images/ui-icons_333333_256x240.png?ln=primefaces-bootstrap);
}
.ui-panelgrid .ui-panelgrid-cell {
    border: none;
}
.ui-fileupload-content {
  height: 112px;
  overflow: scroll;
  overflow: overlay;
}
.ui-widget-overlay {
    background-color: rgba(215, 216, 214, 0.6);
}
/**
 * Text
**/
.p-heading {
    background-color: #008080;
    font-size: 14px;
    font-weight: bold;
    color: white;
    padding: 2px;
    width: intrinsic;
    width: -moz-max-content;
    width: -webkit-max-content;
    border-radius: 2px;
}
.p-heading-spacer {
    margin: 8px 0 8px 0;
}
.p-emphasis {
    font-weight: bold;
    color: #004040;
    padding: 2px;
}
.p-emphasis-spacer {
    margin: 4px 0 2px 0;
}
a.commandLink, .ui-widget-content a, .ui-commandlink {
    color: #008080;
    text-decoration: underline;
    font-weight: bold;
}
a.commandLink:hover, .ui-widget-content a:hover, .ui-commandlink {
    color: #00d0d0;
}
span.commandLink {
    color: #008080;
}
.ui-state-disabled.commandLink {
    color: #008080;
    opacity: 1;
    background-color: transparent;
    font-weight: normal;
    text-decoration: none;
}
a.commandLinkWhite {
    color: #ffffff;
    text-decoration: underline;
    font-weight: bold;
}
a.commandLinkWhite:hover {
    color: #ffffff;
}
span.commandLinkWhite {
    color: #ffffff;
}
.ui-state-default.approveButton {
    background-color: rgb(186, 235, 163);
    background-image: -ms-linear-gradient(top, rgb(242, 253, 237), rgb(186, 235, 163));
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgb(242, 253, 237)), to(rgb(186, 235, 163)));
    background-image: -webkit-linear-gradient(top, rgb(242, 253, 237), rgb(186, 235, 163));
    background-image: -o-linear-gradient(top, rgb(242, 253, 237), rgb(186, 235, 163));
    background-image: linear-gradient(top, rgb(242, 253, 237), rgb(186, 235, 163));
    background-image: -moz-linear-gradient(top, rgb(242, 253, 237), rgb(186, 235, 163));
    border: 1px solid rgb(112, 188, 76);
    border-color: #BAEBA3 #BAEBA3 #9ADE7A;
    border-bottom-color: #70BC4C;
    margin: 2px;
}
.ui-state-default.rejectButton {
    background-color: rgb(243, 114, 134);
    background-image: -ms-linear-gradient(top, rgb(252, 196, 205), rgb(243, 114, 134));
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgb(252, 196, 205)), to(rgb(243, 114, 134)));
    background-image: -webkit-linear-gradient(top, rgb(252, 196, 205), rgb(243, 114, 134));
    background-image: -o-linear-gradient(top, rgb(252, 196, 205), rgb(243, 114, 134));
    background-image: linear-gradient(top, rgb(252, 196, 205), rgb(243, 114, 134));
    background-image: -moz-linear-gradient(top, rgb(252, 196, 205), rgb(243, 114, 134));
    border: 1px solid rgb(201, 39, 65);
    border-color: rgb(243, 114, 134) rgb(243, 114, 134) rgb(224, 77, 100);
    border-bottom-color: rgb(224, 77, 100);
    margin: 2px;
}
.ui-state-default.requestButton {
    background-color: rgb(255, 222, 151);
    background-image: -ms-linear-gradient(top, rgb(255, 244, 222), rgb(255, 222, 151));
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgb(255, 244, 222)), to(rgb(255, 222, 151)));
    background-image: -webkit-linear-gradient(top, rgb(255, 244, 222), rgb(255, 222, 151));
    background-image: -o-linear-gradient(top, rgb(255, 244, 222), rgb(255, 222, 151));
    background-image: linear-gradient(top, rgb(255, 244, 222), rgb(255, 222, 151));
    background-image: -moz-linear-gradient(top, rgb(255, 244, 222), rgb(255, 222, 151));
    border: 1px solid rgb(179, 139, 52);
    border-color: rgb(255, 222, 151) rgb(255, 222, 151) rgb(216, 178, 95);
    border-bottom-color: rgb(216, 178, 95);
    margin: 2px;
}
.ui-state-default.editButton {
    background-color: rgb(255, 222, 151);
    background-image: -ms-linear-gradient(top, rgb(255, 244, 222), rgb(255, 222, 151));
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgb(255, 244, 222)), to(rgb(255, 222, 151)));
    background-image: -webkit-linear-gradient(top, rgb(255, 244, 222), rgb(255, 222, 151));
    background-image: -o-linear-gradient(top, rgb(255, 244, 222), rgb(255, 222, 151));
    background-image: linear-gradient(top, rgb(255, 244, 222), rgb(255, 222, 151));
    background-image: -moz-linear-gradient(top, rgb(255, 244, 222), rgb(255, 222, 151));
    border: 1px solid rgb(179, 139, 52);
    border-color: rgb(255, 222, 151) rgb(255, 222, 151) rgb(216, 178, 95);
    border-bottom-color: rgb(216, 178, 95);
    margin: 2px;
}

/**
 * Information Set (for detailed hazard/system information)
**/
.detailHazardPanel, .systemInformationPanel {
    width: calc(100% - 5px);
    margin-top: 8px;
    margin-bottom: 8px
}
.systemInformationPanel .input {
    width: 600px;
}
.detailHazardPanel .left {
    width: 30%
}
.detailHazardPanel .middle {
    width: 70%
}
.detailTable {
    width: 100%;
    border: #dddddd 1px solid;
    border-radius: 4px;
    padding: 8px;
    margin-top: 20px;
}
.detailHazardPanel .small,
.relationPanel .small,
.detailTable .small {
    width: 8%;
    text-align: center;
    cursor: default;
}
.detailTable .medium {
    width: 16%;
    cursor: default;
}
.detailTable .label {
    width: 12%;
    font-size: 14px;
    font-weight: bold;
    color: #004040;
}
.detailHazardPanel .normal,
.detailTable .normal {
    cursor: default;
}
.parameterTableSmall {
    width: 600px;
    text-align: center;
}
.parameterTable, .managementTable {
    width: 800px;
    text-align: center;
}
.parameterTableLarge, .managementTableLarge {
    width: 1600px;
    text-align: center;
}
@media screen and (max-width: 1800px) {
  .managementTableLarge {
      max-width: 1200px;
  }
  .managementTableLarge .tableColumn150p {
      max-width: 80px;
  }
  .managementTableLarge .tableColumn150p input {
      max-width: 60px;
  }
  .managementTableLarge .tableColumn200p {
      max-width: 160px;
  }
  .managementTableLarge .tableColumn150p input {
      max-width: 120px;
  }
}
.profilePanel {
    width: 600px;
    margin-top: 8px;
    margin-bottom: 8px
}
#wfForm\:decisionComments, #wfForm\:decisionMultiple, #hazardsForm\:deletionReason, #hazardsForm\:deletionComments, #hazardsForm\:suggestionComments {
    margin: 10px;
    width: calc(100% - 30px);
}
.ui-commandlink.ui-widget.averageRating {
    font-size: 4em;
    font-weight: lighter;
    text-decoration: none;
    cursor: default;
}
.ui-commandlink.ui-widget.countRating {
    font-size: 1.6em;
    font-weight: lighter;
    text-decoration: none;
    cursor: default;
}
.ratingPanel {
    text-align: center;
    font-weight: lighter;
}
.ui-commandlink.ui-widget.missingIcon {
    color: #d61d3c;
    font-size: 1.6em;
    cursor: default;
}
.ui-commandlink.ui-widget.ratedIcon {
    color: #0077b3;
    font-size: 1.6em;
    cursor: default;
}

/**
 * Searching & Results Set
**/
.resultPanel .small {
    width: 12%;
    text-align: center;
}
.resultPanel .small input {
    width: 80px;
}
.relationPanel .medium {
    width: 18%;
}
.relationPanel .small input {
    width: 80px;
}
.relationPanel .results {
    vertical-align: top;
    width: 60%;
}
.relationPanel .actions {
    vertical-align: top;
    width: 40%;
}
.searchFieldset .fields {
    vertical-align: top;
}
.searchAccordion {
    min-width: 480px;
}
.searchPanel {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}
.searchPanel textarea {
    max-width: 60%;
}
.searchPanel .right {
    border-style: hidden !important;
    width: 5%;
}
.searchPanel .right .remove {
    width: 10px;
    display: block;
}
.searchPanel .middle, .profilePanel .middle {
    border-style: hidden !important;
    width: 55%;
}
.searchPanel .middle .searchInput, .searchPanel .middle textarea, .managementModifyPanel .middle .searchInput {
    width: 70%;
}
.searchPanel .left, .profilePanel .left {
    border-style: hidden !important;
    width: 40%;
    padding-right: 40px;
}
.searchFieldset .explanation {
    vertical-align: top;
    padding-left: 10px;   
}
.searchFieldset .explanation .queryDescr  {
    width: auto;
}
.searchFieldset .explanation .queryDescr h3 {
    color: #000000;
    margin: 0;
    padding-bottom: 3px;
}
.searchFieldset .explanation .queryDescr h4 {
    padding-left: 10px; 
    margin: 0;
    padding-bottom: 1px; 
    padding-top: 1px;
}
.searchFieldset .explanation .queryDescr h4 span {
    color: #3366ff;
    padding-bottom: 1px; 
    padding-top: 1px;
}
.searchFieldset .explanation .queryDescr_field {
    padding-left: 20px; 
    margin: 0;
    padding-bottom: 1px; 
    padding-top: 1px;
}
.searchFieldset .explanation .queryDescr_and {
    color: #ff0000; 
    margin: 0;
    padding-bottom: 1px; 
    padding-top: 1px;
    font-size: 12px;
    font-weight: bold;
}
.suggestionPanel {
    width: 320px;
}
.suggestionPanel td, .suggestionPanel tr {
    border-style: hidden;
}
.suggestionPanel button {
    float: right;
}
.suggestionPanel textarea, .messageDiv {
  width: 100%;
}
#relationForm\:viewTable\:hierarchyFilter_panel .ui-selectcheckboxmenu-items-wrapper {
    overflow-x: hidden;
}
#relationForm\:viewTable\:hierarchyFilter_panel .ui-widget-header {
    display: none;
}
/**
 * Adding & Editing Set
**/
.panelButtons {
    padding: 8px 4px 8px 4px;
}
.panelButtons >button {
    margin-right: 4px;
}

.relationModifyPanel .left, 
.parameterModifyPanel .left {
    border-style: hidden !important;
    min-width: 20%;
}
.hazardModifyPanel .left,
.managementModifyPanel .left {
    border-style: hidden !important;
    width: 40%;
}
.relationModifyPanel .middle, 
.parameterModifyPanel .middle {
    border-style: hidden !important;
    min-width: 80%;
}
.hazardModifyPanel .middle,
.managementModifyPanel .middle {
    border-style: hidden !important;
    min-width: 50%;
}
.relationModifyPanel, .parameterModifyPanel {
    width: 60%;
}
.managementModifyPanel {
    width: 30%;
}
.relationModifyPanel {
    border-style: none;
}
.hazardModifyPanel {
    width: 600px;
}
.relationInput {
    width: calc(100% - 20px);
}
.hazardModifyPanel .middle input, .hazardModifyPanel .middle textarea,
.hazardModifyPanel .middle .editInput,
.parameterModifyPanel .middle input, .parameterModifyPanel .middle textarea, 
.parameterModifyPanel .middle .editInput, .managementModifyPanel .middle input, 
.managementModifyPanel .middle textarea, .managementModifyPanel .middle .editInput {
    width: 80%;
}
.relationModifyPanel textarea, .relationModifyPanel input, .relationModifyPanel select,
.relationTable {
    width: 100%;
}
.hiddenField {
    display: none;
}
.hazardTabs .ui-helper-reset.ui-widget-header.ui-corner-all {
    border: none;
}
.hazardTabs li a {
    color: #008080;
}
.indexPrefix {
    background: #eee;
    border: 1px solid #cccccc;
    border-radius: 3px 0px 0px 3px;
    border-right: 0px;
    display: inline-block;
    padding: 4px;
    width: 22px;
    text-align: right;
}
#pagesForm\:indexPage {
    border-radius: 0px 3px 3px 0px;
    border-left: 0;
    width: calc(80% - 30px);
}
/**
 * Visualisation
**/
.visPanel {
    height: 600px;
}
.visPanel * {
    background: none;
    box-sizing: border-box;
}
.visCanvas {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 584px;
    text-align: center;
}
.visCanvas >div {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    -webkit-justify-content: space-around;
}
.visCanvas >div >div {
    max-width: 33%;
    border: 1px black solid;
}
.visCanvas .left {
    max-width: 25%;
    font-weight: bold;
}
.visCanvas .mid {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 50%;
}
.visCanvas .center {
    font-size: 1.2em;
}
.visCanvas .mid .center {
    border: #e26b2a 1px solid;
    background: linear-gradient(to bottom, #FFE2D3, #FFCAAD);
    font-weight: bold;
    margin-top: 4px;
}
.visCanvas .mid .risk {
    display: flex;
    flex-direction: row;
}
.visCanvas .mid .frequency {
    flex: 50%;
}
.visCanvas .mid .severity {
    flex: 50%;
}
.visCanvas .right {
    align-items: flex-end;
    max-width: 25%;
    font-weight: bold;
}
.visCanvas .right >div {
    width: 100%;
}
.visCanvas .top, .visCanvas .bottom {
    border: #e26b2a 1px solid;
    margin-top: 4px;
    width: 33%;
}
.visCanvas .top {
}
.visCanvas #graphic {
    position: absolute;
    left: 24px;
    right: 24px;
    height: 584px;
}
.visCanvas .between {
    position: absolute;
    left: 24px;
    right: 24px;
    height: 584px;
    display: flex;
    flex-direction: row;
}
/*.visCanvas .mid-left >div, .visCanvas .mid-right >div {
    border: 1px solid black;
}*/
.visCanvas .marker {
    width: 16px;
    height: 32px;
    border: 1px solid black;
    background: white;
    margin: 0 auto;
}
.visCanvas .text {
    max-height: 2.5em;
    overflow: hidden;
    border: 1px solid black;
}
.visCanvas a {
    font-weight: normal;
    color: black;
    text-decoration: none;
}
.visCanvas a:hover {
    color: black;
}
.visCanvas .marker:after {
    content: '...';
    position: absolute;
    right: 1px;
    width: 1em;
    height: 1em;
    margin-top: 3.5em;
    background: white;
}
.ui-tooltip {
    max-width: 25%;
}
.visCanvas .mid-left {
    flex: 100%;
    border: 0px;
}
.visCanvas .mid-right {
    flex: 1;
    border: 0px;
}
.uploadDialog {
    width: 90%;
}
.uploadGrid {
    width: 100%;
}
.uploadGrid tr, .uploadGrid td {
    border-style: hidden;
}
.uploadGrid input {
    width: 60%;
}
.uploadGrid .ui-inputtextarea {
    width: 100%;
}
/**
 * Unused
**/
.treeWidth {
    width: 600px;
}
.permissionsTable {
    float: left;
}
.ui-dialog {
    height: 720px;
    width: 960px;
}
.ui-diagram {
    flex: 1 0 auto;
}
.ui-diagram-hazard {
    width:180px; 
    min-height:4em;
    padding:1em;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 4px;
    border: #e26b2a 4px solid;
    color: #000000;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 100%), repeating-linear-gradient(
        45deg,
        #e26b2a,
        #e26b2a 4px,
        #ffffff 4px,
        #ffffff 8px
        );
    background-clip: content-box, padding-box;
}
.ui-diagram-cause {
    width:180px;
    min-height:4em;
    padding:1em;
    text-align: right;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 4px;
    border-right: #f2bb47 8px solid;
}
.ui-diagram-consequence {
    width:180px; 
    min-height:4em;   
    padding:1em;
    text-align: left;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 4px;
    border-left: #d61d3c 8px solid;
}
.ui-diagram-prevent {
    max-width:120px; 
    height:auto;     
    padding:1em;
    text-align: center;
    border-radius: 4px;
    border: #47b9c7 2px solid;
    background: #ffffff;
    color: #ffffff;
}
.ui-diagram-mitigate {
    max-width:120px; 
    height:auto;     
    padding:1em;
    text-align: center;
    border-radius: 4px;
    border: #47b9c7 2px solid;
    background: #ffffff;
    color: #ffffff;
}
.ui-menu.ui-widget li > .ui-menuitem-link.ui-state-hover {
    color:#ffffff;
    text-decoration:none;
    background-color:#008080;
    background-color:#008080;
    background-position:0px;
    background-image:-moz-linear-gradient(top, #008080, #0077b3);
    background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#008080), to(#008080));
    background-image:-webkit-linear-gradient(top, #008080, #008080);
    background-image:-o-linear-gradient(top, #008080, #008080);
    background-image:linear-gradient(to bottom, #008080, #008080);
    background-repeat:repeat-x;
    filter:progid:dximagetransform.microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}
.ui-diagram-text {
    position: absolute;
    width: 8em;
    text-align: center;
    color: #000000;
    border-radius: 4px;
    border: solid #47b9c7 2px;
    height: 6em;
    background: #ffffff;
    overflow: hidden;
}
.ui-diagram-text:before {
    position: absolute;
    right: 0;
    bottom: 0;
}
.ui-diagram-text:after {
    content: '';
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background: white;
}
.ui-diagram-text:hover {
    overflow: visible;
    color: #ffffff;
}
.ui-diagram-text:hover .ui-diagram-tooltip {
    visibility: visible;
    opacity: 100;
}
.ui-diagram-text .ui-diagram-tooltip {
    visibility: hidden;
    opacity: 0;
    transition:visibility 0.3s linear,opacity 0.3s linear;
    max-width: auto;
    background-color: #ffffff;
    text-align: center;
    margin: 0em;
    color: #000000;
    position: absolute;
    top: 0px;
    left: 0px; 
    z-index: 2;
}
.ui-diagram-recommend-Ado {
    display:flex;
    justify-content: center;
    color: #ffffff;
    background: #6ebe49;
}
.ui-diagram-recommend-Rej {
    display:flex;
    justify-content: center;
    color: #ffffff;
    background: #d61d3c;
}
.ui-diagram-recommend-Ref {
    display:flex;
    justify-content: center;
    color: #000000;
    background: #f2bb47;
}
.fa-remove {
    color: red;
}
.extendTable {
    font-size: 12.5px;
    white-space: nowrap;
    border-collapse: collapse;
    border-spacing: -0px;
}
.extendTable .utilityHeader {
    background: #008080;
    height: 65px;
    border-radius: 4px 4px 0 0;
    position: sticky;
    top: 0;
}
.extendTable .utilityDiv {
    text-align: left;
    width: 98vw;
    position: fixed;
    top: 0px;
    left: 1%;
}
.extendTable .utilityDiv .globalExportDiv {
    text-align: right;
}
.extendTable .utilityDiv .globalColumnsDiv {
    text-align: center;
}
.extendTable .utilityDiv p {
    font-size: 18px;
    color: white;
    margin-bottom: 0px;
}
.extendTable >thead >tr:nth-child(2) {
    background: #008080;
}
.extendTable >thead >tr:nth-child(2) >th {
    background: linear-gradient(#ffffff, #e7e7e7);
    border-radius: 4px;
    background-clip: border-box;
    font-weight: bold;
    padding-left: .5px;
    padding-right: .5px;
    position: sticky;
    top: 0;
    min-width: 12em;
}
.extendTable >tbody >tr >td {
    border: #b7b7b7 1px solid;
    padding-left: 8px;
    padding-right: 8px;
}
.extendTable >tbody >tr:nth-child(even) {
    background: #f9f9f9;
}
.extendTable >tbody >tr .HDData, .HWData, .HMData {
    white-space: normal;
}
.extendTable thead tr:nth-child(2) input,select {
    width: 90%;
    margin-bottom: 4px;
}
#spinnerDialog{
  overflow: hidden;
}
.progress-back {
    overflow: hidden;
    display:block;
    align-items: center;
    position: relative;
    margin: -15px;
    left: 0px;
    top: 0px;
    width: 120px;
    height: 120px;
    text-align: center;
    font-size: 10px;
    background-color: rgb(0, 128, 128);
    background-color: rgba(0, 128, 128, 0.6);
}
.progress-back > div {
    background-color: rgb(0, 128, 128);
    background-color: rgba(0, 128, 128, 0.6);
  height: 100%;
  width: 6px;
  display: inline-block;
  -webkit-animation: sk-stretchdelay 1s infinite ease-in-out;
  animation: sk-stretchdelay 1s infinite ease-in-out;
  align-self: flex-start;
}
.progress-back .progress-front-2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
.progress-back .progress-front-3 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
.progress-back .progress-front-4 {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}
.spinner .progress-front-5 {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
  align-self: flex-end;
}
@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(0.8) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(0.8);
  }
}
.extendTable >tbody >tr >td >table {
    border-collapse: collapse;
}
.extendTable >tbody >tr >td >table >tbody >tr {
    border-top: 1px #b7b7b7 solid;
    border-bottom: 1px #b7b7b7 solid;
}
@media print {
    @page {
        size: landscape;
    }
    table {
        page-break-after:auto; 
    }
    tr { 
        page-break-inside:auto; 
        page-break-after:auto; 
    }
    td { 
        page-break-inside:auto; 
        page-break-after:auto; 
    }
    .extendTable {
        left: 0px;
        top: 0px;
        position: absolute;
        overflow: visible;
        display: block;
    }
    input, select, .utilityHeader {
        display: none;
    }
}